@model ResultMessageDto
@{
    ViewData["Title"] = "Mesaj Icerigi Sayfasi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-striped">
    <tr>
        <th>Tarih:</th>
        <td>@Model.MessageDate</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Ad Soyad:</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Konu:</th>
        <td>@Model.Subject</td>
    </tr>

    <tr>
        <th>Icerik:</th>
        <td>@Model.MessageContent</td>
    </tr>
</table>

<a asp-controller="Message" asp-action="Index" class="btn btn-dark">Mesajlara Geri Dön</a>